	
.container{
  margin-left:0;
  margin-right:auto;  
  margin-top:calc(calc(100vh - 405px)/2);
}
#form1{
  width:300px;
}
.alert{
  text-align:center;
}
 
#preview{  
  max-height:256px;
  height:auto;
  width:auto;
  display:block;
  margin-left: 10px;
   margin-top: 0;
}
#img_container{
  border-radius:5px;
  height: 300px;
  width:500px;
}
.input-group{  
  width:200px;
}
.imgInp{  
  width:100px;
  margin-top:10px;
  padding:10px;
  background-color:#d3d3d3;  
}
.loading{
   animation:blinkingText ease 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }     
    50%{   color: #transparent; }
    99%{    color:transparent;  }
    100%{ color:#000; }
}
.custom-file-label{
  cursor:pointer;
}